@charset "utf-8"; /*한글 깨짐 방지*/

/*공용*/
.garamond {font-family: 'EB Garamond', serif;}
a:hover span:after {content: ''; width: 100%; height: 1px; position: absolute; left: 0; bottom: -5px;}
.close {width: 40px; height: 40px; position: absolute; top: 3vw; right: 3vw; z-index: 1;}
.close:before {content: ''; display: block; border: solid #fff; border-width: 0 2px 0 0; position: absolute; top: 0; left: 0; height: 20px; margin-left: 2em; transform: rotate(45deg);}
.close:after {content: ''; display: block; border: solid #fff; border-width: 0 2px 0 0; position: absolute; top: 0; left: 0; height: 20px; margin-left: 2em; transform: rotate(-45deg);}
.not_scroll {position: fixed; overflow: hidden; width: 100%; height: 100%;}
.not_scroll .cont {position: relative; top: 0;}
::selection {background: #4e0d22; color: #fff;}
#popupWrap .modal-wrapper, #popup_reserv, .popup_wine {position: fixed; top: 0; left: 0; transition: all 0.5s ease-in-out; z-index: 999; background-color: rgba(0,0,0,0.8); width: 100%; height: 100vh;}

/*커서*/
.cursor {position: absolute; width: 80px; height: 80px; border-radius: 50%; background: #4e0d22; z-index: 1000; user-select: none; pointer-events: none; z-index: 1000;  transition: transform 0.3s;}
.cursor.link {mix-blend-mode: difference; transform: scale(2);}
.cursor.text {mix-blend-mode: difference;}
.cursor.drag, .cursor.click {transform: scale(1.5);}
.cursor.text .cursorDrag.on {display: none;} /*chef swiper button 오류*/
.cursorDrag, .cursorClick {display: none; color: #fff; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); font-size: 10px;}
.cursorDrag.on, .cursorClick.on {display: block;}



/*swiper*/
.swiper-container {width: 100%; height: 100%;}
.swiper-slide {background: #fff; display: -webkit-box; display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; -webkit-justify-content: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; -webkit-align-items: center; align-items: center;}

/*header*/
.header-wrap {position: relative;}
.header-wrap .gnb {position: absolute; width: 100%; top: 3vw;}
.header-wrap .gnb h1 {background:url(../img/match_logo.svg) no-repeat center; width: 145px; height: 28px; position: absolute; left: 50%; transform: translateX(-50%);}
.header-wrap .gnb .faq {position: absolute; left: 3vw;}
.header-wrap .gnb .faq a {color: #fff;}
.header-wrap .gnb .faq a:hover span:after {background: #fff;}
.header-wrap .reserv {mix-blend-mode: difference; position: fixed; top: 3vw; right: 3vw; z-index: 2; cursor: pointer;}
.header-wrap .reserv svg {width: 90px; height: 90px; animation: rotateImg 10s linear infinite; transform-origin: 50% 50%;}

/*visual slider*/
.visual {height: 100vh; z-index: -1;}

/*visual content*/
.content {position: absolute; width: 100%; z-index: 1;}
.content .slogan {position: absolute; bottom: 3vw; left: 3vw; color: #fff;}
.content .slogan em {font-size: 22px; display: block;}
.content .slogan p {font-weight: 300;}
.content .contact {position: absolute; bottom: 3vw; right: 3vw; height: 22px;}
.content .contact > a {display: inline-block; margin-left: 30px; color: #fff; font-weight: 300;}
.content .contact > a:hover span:after {background: #fff;}
.content .scroll {background: url(../img/scroll.svg) no-repeat center; position: absolute; bottom: 3vw; left: 50%; transform: translateX(-50%); width: 150px; height: 150px;}

/*main*/
#main, #footer {background: #fff;}

/*content 전체 넓이*/
.cont-wrap, #faq {width: 1350px; margin: 0 auto; padding: 0 15px;}


/*about*/
.about .story {text-align: center; padding-top: 100px;}
.about .story h3 {font-size: 40px; margin-bottom: 30px; line-height: 1;}
.about .chef .swiper-container {overflow: initial;}
.about .chef .category {width: 340px; font-weight: 600; margin-top: 100px; }
.about .chef .chef-warp {margin-top: 30px; margin-bottom: 180px;}
.about .chef .chef-warp.swiper-wrapper {width: 100%; height: 100%;}
.about .chef .chef-warp .chef-list:first-child {padding-left: 0;}
.about .chef .chef-warp .chef-list.swiper-slide {
       /* Center slide text vertically */
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
      width: 25%;
      display: block;
    }
.about .chef .chef-warp .chef-list .img {padding-bottom: 140%;}
.about .chef .chef-warp .chef-list:nth-child(1) .img, #popup_1 .img {background: url(../img/lwh.jpg) no-repeat top; background-size: cover;}
.about .chef .chef-warp .chef-list:nth-child(2) .img, #popup_2 .img {background: url(../img/pgr.jpg) no-repeat top; background-size: cover;}
.about .chef .chef-warp .chef-list:nth-child(3) .img, #popup_3 .img {background: url(../img/kip.jpg) no-repeat top; background-size: cover;}
.about .chef .chef-warp .chef-list:nth-child(4) .img, #popup_4 .img {background: url(../img/lsj.jpg) no-repeat top; background-size: cover;}
.about .chef .chef-warp .chef-list:nth-child(5) .img, #popup_5 .img {background: url(../img/angus.jpg) no-repeat top; background-size: cover;}
.about .chef .chef-warp .chef-list:nth-child(6) .img, #popup_6 .img {background: url(../img/ssm.jpg) no-repeat top; background-size: cover;}
.about .chef .chef-warp .chef-list:nth-child(7) .img, #popup_7 .img {background: url(../img/esg.jpg) no-repeat top; background-size: cover;}
.about .chef .chef-warp .chef-list .name {font-weight: 600; letter-spacing: -0.04em; font-size: 18px; margin: 20px 0 5px;}
.about .chef .chef-warp .chef-list .name span {color: #999999; font-weight: 400; letter-spacing: 0;}
.about .chef .chef-warp .chef-list .kind {margin-bottom: 30px;}
.about .chef .chef-warp .chef-list > button {color: #999999; letter-spacing: -0.04em; font-size: 13px;}
.about .chef .chef-warp .chef-list > button span:after {content: ''; display: block; width: 100%; height: 1px; background: #999; }

/*chef popup*/
#popupWrap .modal-wrapper {margin-left: 3000px;}
#popupWrap .modal-wrapper.on {margin-left: 0;}
#popupWrap .modal-wrapper .btn {display: flex;}
#popupWrap .modal-wrapper .btn {position: absolute; right: 3vw; bottom: 3vw;}
#popupWrap .modal-wrapper .btn .prev {width: 35px; height: 35px; background: url(../img/prevNext.svg) no-repeat center; transform: rotate(180deg);}
#popupWrap .modal-wrapper .next {width: 35px; height: 35px; background: url(../img/prevNext.svg) no-repeat center;}
#popupWrap .modal-wrapper .modal {position: fixed; width: 100%; height: 100vh; display: none;}
#popupWrap .modal-wrapper .modal.on {display: block;}
.modal_container {width: 82%; height: 100vh; position: absolute; right: 0; background: #fff;}
.modal_container .m_content .img {width: 50%; height: 100vh; background: #555;}
.modal_container .m_content .m_inner {width: 50%;}
.modal_container .m_content .m_inner .close:before, .modal_container .m_content .close:after {border-color: #1f1f1f;}
.modal_container .m_content .m_inner .profile {padding: 3vw;}
.modal_container .m_content .m_inner .profile .name {font-size: 26px; font-weight: bold;}
.modal_container .m_content .m_inner .profile .name span {font-weight: 300;}
.modal_container .m_content .m_inner .profile .kind {color: #999999;}
.modal_container .m_content .m_inner .profile .list {margin-top: 30px; line-height: 2;}
.modal_container .m_content .m_inner .profile .list dl {display: flex;}
.modal_container .m_content .m_inner .profile .list dt {font-weight: 700; width: 20%;}
.modal_container .m_content .m_inner .profile .list dd {margin-left: 0px; letter-spacing: -0.04em; width: 80%;}

/*process 전체*/
.process-wrap .process h2 {font-size: 18px; cursor: pointer;}
.process-wrap .process h2 span {font-size: 46px; margin-left: 8px;}
.process-wrap .process h2.active {color: #4e0d22;}
.process-wrap .process .contents {margin: 20px 0 100px; display: none;}


/*menu*/
.menu .contents .menu-wrap .tabcontent {width: 100%; display: flex;}
.menu .contents .menu-wrap .tabcontent .option {width: 100%; padding: 3vw; text-align: center;}
.menu .contents .menu-wrap .tabcontent .option:hover {box-shadow: 0 0 15px 5px rgba(0,0,0,0.1);}
.menu .contents .menu-wrap .menu-title {font-size: 18px; font-weight: 600;}
.menu .contents .menu-wrap .menu-list {margin: 30px 0 0px;}
.menu .contents .menu-wrap .menu-list li {letter-spacing: -0.04em; margin-top: 20px;}
.menu .contents .menu-wrap .menu-list li span {color: #666666; display: block; letter-spacing: 0;}
.menu .contents .menu-wrap .menu-list li.special, .menu .menu-list li.special span {color: #4e0d22;}
/* .menu .contents .price {font-weight: 600;} */
.menu .contents .menu-wrap .note {background: #f5f5f5; padding: 50px; margin-top: 20px;}


/*wine*/
.wine .contents .wine-wrap .option.promotion {cursor: pointer;}
.wine .contents .wine-wrap .option .title {font-size: 18px; font-weight: 600; margin: 15px 0;}
.wine .contents .wine-wrap .promotion .img, #popup_wine1 .popup_content_wrap .popup_content .img  {background: url(../img/domperignon.svg) no-repeat center; width: 165px; height: 165px; margin: 0 auto;}
.wine .contents .wine-wrap .pairing .img, #popup_wine2 .popup_content_wrap .popup_content .img  {background: url(../img/sommelier.svg) no-repeat center; width: 165px; height: 165px; margin: 0 auto;}
.wine .contents .wine-wrap .list .img {background: url(../img/winelist.svg) no-repeat center; width: 165px; height: 165px; margin: 0 auto;}

.popup_wine {margin-top: 2000px;}
.popup_wine.on {margin-top: 0;}
.popup_content_wrap:after {display: none; content: ''; width: 100%; height: 15vh; position: fixed; bottom: 0;}
.popup_content_wrap .popup_content .top {display: flex;}
.popup_content_wrap .popup_content .top .txt {color: #fff; width: 60%;}
.popup_content_wrap .popup_content .top .txt a {display: none;}
.popup_content_wrap .popup_content .top .txt .title {line-height: 1.4; margin-bottom: 15px; font-weight: 600; font-size: 22px;}
.popup_content_wrap .popup_content .top .txt .title em {display: block;}
.popup_content_wrap .popup_content .top .img-wrap {width: 40%;}
.popup_content_wrap .popup_content .list_warp .list {background: #fff; padding: 30px; border-radius: 15px;}
.popup_content_wrap .popup_content .list_warp .list .title {font-size: 18px; font-weight: 600; border-bottom: 1px solid; margin-bottom: 15px; padding-bottom: 5px;}
.popup_content_wrap .popup_content .list_warp .list .package_list p {margin: 10px 0; font-weight: 600; letter-spacing: 0; line-height: 1.3;}
.popup_content_wrap .popup_content .list_warp .list .package_list p span {display: block; color: #999999; font-size: 13px; font-weight: 400; letter-spacing: -0.04em; margin-top: 5px;}

#popup_wine1 .popup_content_wrap {background: #6E7746;}
#popup_wine1 .popup_content_wrap:after {background: linear-gradient(to bottom,rgba(110,119,70,0.001),#6E7746)}
#popup_wine1 .popup_content_wrap .popup_content .list .title {color: #6E7746; border-color: #6E7746;}


/*deco*/
.deco .contents .intro {margin-bottom: 80px; text-align: center;}
.deco .contents .intro .garamond {font-size: 32px; margin-bottom: 5px;}
.deco .contents .option {margin-bottom: 80px; display: flex;}
.deco .contents .option .txt .title {font-size: 18px; font-weight: 600; margin-bottom: 15px;}
.deco .contents .option .txt p {color: #666666; line-height: 2;}
.deco .contents .option .txt p.info {color: #1f1f1f; margin-bottom: 10px; line-height: inherit;}
.deco .contents .option.flower .txt, .deco .contents .option.baby .txt {width: 40%; display: flex; align-items: center; margin-left: 5%;}
.deco .contents .option.plate {flex-direction: row-reverse;}
.deco .contents .option.plate .txt {width: 30%; display: flex; align-items: center; margin-right: 5%;}
.deco .contents .option.flower .img {width: 55%; height: 480px; background: url(../img/decoFlower.jpg) no-repeat center; background-size: cover;}
.deco .contents .option.plate .img {width: 65%; height: 605px; background: url(../img/decoPlate.jpg) no-repeat center; background-size: cover;}
.deco .contents .option.baby .img {width: 55%; height: 480px; background: url(../img/decoBaby.jpg) no-repeat center; background-size: cover;}


/*reservation*/
.reserv-button {text-align: center; width: 25vw; margin: 0 auto; background: #4e0d22; border-radius: 50px; margin-top: 80px;}
.reserv-button a {color: #fff; padding: 20px 0; display: block;}

#popup_reserv {display: none;}
#popup_reserv.on {display: block;}
#popup_reserv .popup_wrap {background: #fff; text-align: center; position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%);}
#popup_reserv .popup_wrap .btn-area {margin: 30px 0 0;}
#popup_reserv .popup_wrap .btn-area a {border: 1px solid;  border-radius: 50px; padding: 12px 40px; transition: all 0.5s;}
#popup_reserv .popup_wrap .btn-area a.tel {margin-right: 5px; border-color: #999999; font-weight: 700;}
#popup_reserv .popup_wrap .btn-area a.kakao {margin-left: 5px; border-color: #56051f; background: #56051f; color: #fff;}
#popup_reserv .popup_wrap button.close2 {width: 100%; border-top: 1px solid #e2e2e2; padding: 20px;}

/*footer*/
#footer {position: relative; padding: 150px 3vw 5vh; display: flex; align-items: flex-end;}
#footer > div {flex: 1;}
#footer .info em {margin: 0 15px;}
#footer .customer_center {order: 3; flex: 1; text-align: right;}
#footer .customer_center a {display: block;}
#footer .customer_center a.tel span {font-weight: 700; font-size: 22px;}
#footer .customer_center .link a {display: inline-block; margin-left: 15px;}
#footer .copy {text-align: center;}

/*FAQ*/
#faq-wrap {background: #1f1f1f; color: #fff;}
#faq-wrap #footer {background: #1f1f1f;}
#faq-wrap #footer .contact a, #faq-wrap #footer .contact p.haveQ, #faq-wrap #footer .link a {color: #fff;}
#faq {margin-top: 80px;}
#faq h3 {font-size: 40px; line-height: 1; text-align: center; color: #fff;}
#faq .faq-wrap {display: flex; padding: 80px 80px 0;}
#faq .faq-wrap > div {flex: 1;}
#faq .faq-wrap .faq-right {margin-left: 80px;}
#faq .faq {width: 80%; margin-bottom: 40px; letter-spacing: -0.03em; line-height: 1.8;}
#faq .faq .q {font-size: 18px; margin-bottom: 10px;}
#faq .faq .a span {display: block; color: #F2E387;}


/*미디어쿼리*/
@media screen and (min-width: 992px) {
    .mobile {display: none !important;}
    
    .visual .visual1 {background: url(../img/web01.png) no-repeat center; background-size: cover;}
    .visual .visual2 {background: url(../img/web03.jpg) no-repeat center; background-size: cover;}
    .visual .visual3 {background: url(../img/w.jpg) no-repeat center; background-size: cover;}
    
    .content .slogan p, .about .story p, .deco .contents .intro p {font-size: calc(14px + 0.1vw)}
    
    .about .story span {display: block;} 
    .about .story h3 {font-size: calc(40px + 0.5vw);}
    .about .chef .chef-warp .chef-list > button:hover {color: #4e0d22; font-weight: 700;}
    .about .chef .chef-warp .chef-list > button:hover span:after {background: #4e0d22;}
    .about .chef .modal_container .m_content {display: flex;}
    .modal_container .m_content .m_inner .profile .list dt {width: 60px;}
    
    .process-wrap .process h2 {font-size: calc(18px + 0.5vw)}
    .process-wrap .process h2 span {font-size: calc(46px + 2vw)}
    .process-wrap .process h2:hover {color: #4e0d22;}
    
    .menu .contents .menu-wrap .tabcontent .option {margin-bottom: 20px;}
    
    .wine .contents .wine-wrap {display: flex;}
    .wine .contents .wine-wrap .option {width: 50%; text-align: center; position: relative; padding: 3vw;}
    .wine .contents .wine-wrap .option:hover {box-shadow: 0 0 15px 5px rgba(0,0,0,0.1);}
    .wine .contents .wine-wrap .option p {color: #666666;}
    .wine .contents .wine-wrap .option p span {display: block;}
    .wine .contents .wine-wrap .option .txt a.more {display: none;}
    .popup_content_wrap {position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); border-radius: 20px;}
    .popup_content_wrap .popup_content {padding: 40px;}
    .popup_content_wrap .popup_content .top {margin-bottom: 40px;}
    .popup_content_wrap .popup_content .top .img {position: absolute; top: 20px; right: 0;}
    .popup_content_wrap .popup_content .top .txt .title {font-size: calc(22px + 0.25vw); line-height: 1.3; margin-bottom: 10px;}
    .popup_content_wrap .popup_content .top .txt p span {display: block; font-size: calc(14px + 0.1vw);}
    .popup_content_wrap .popup_content .list_warp {display: flex;}
    .popup_content_wrap .popup_content .list_warp .list:first-child {margin-right: 20px;}

    .deco .contents .option .txt p.info span {display: block;}
    
    .reservation .contents {display: none !important;}
    #popup_reserv .popup_wrap {font-size: 16px;}
    #popup_reserv .popup_wrap .popup_content {padding: 50px;}
    #popup_reserv .popup_wrap p.web span {display: block;}
    
    #footer .contact a:hover span:after, #footer .link a:hover span:after {background: #1f1f1f;}
    #faq-wrap #footer a:hover span:after {background: #fff;}
    #faq-wrap #footer .link .faq {display: none;}
    #faq-wrap #footer .link a.instagram {margin-left: 0;}
    
}
@media screen and (max-width: 1350px) { 
    .cont-wrap, #faq {width: 1200px; overflow: initial;} 
}
@media screen and (max-width: 1200px) { 
    .cont-wrap, #faq {width: 991px;} 
    #faq .faq-wrap {padding: 80px 40px 0;}
    #faq .faq {width: 100%;}
}
@media screen and (max-width: 991px) {
    .web {display: none !important;}
    
    .header-wrap .gnb h1 {width: 100px; height: 19px; left: 3vw; transform: inherit;}
    .header-wrap .gnb .instagram {position: absolute; right: 3vw; text-align: right;}
    .header-wrap .gnb .instagram a {color: #fff;}
    .header-wrap .gnb .instagram .tooltip {display: none;}
    .header-wrap .reserv {display: none;}
    
    .visual {height: 70vh;}
    .visual .visual1 {background: url(../img/m1.jpg) no-repeat center; background-size: cover;}
    .visual .visual2 {background: url(../img/m2.jpg) no-repeat center; background-size: cover;}
    .visual .visual3 {background: url(../img/m5.jpg) no-repeat center; background-size: cover;}   
    
    .content .scroll {width: 100px; height: 100px; right: 3vw; bottom: 3vw; transform: inherit; left: inherit;}
    
    .cont-wrap, #faq {width: 100%; padding: 0; margin-bottom: 80px; overflow: hidden;}
    
    .about .story {margin-left: 3vw; margin-right: 3vw; padding-top: 60px;}
    .about .story h3 {text-align: left;}
    .about .story h3 span em {display: block;}
    .about .story p {text-align: left;}
    .about .chef .category {padding-left: 3vw; margin-top: 60px;}
    .about .chef .chef-warp {margin-top: 25px; margin-bottom: 80px;}
    .about .chef .chef-warp .chef-list.swiper-slide {width: 50%;}
    .about .chef .chef-warp .chef-list.swiper-slide:first-child {margin-left: 3vw;}
    .about .chef .chef-warp .chef-list.swiper-slide:last-child {margin-right: 3vw;}
    .modal_container {width: 100%; background: #fff; height: 100%; overflow: hidden; overflow-y: scroll;}
    .modal_container .m_content .img {width: 100%; height: 50vh;}
    .modal_container .m_content .m_inner {width: 100%;}
    .modal_container .m_content .m_inner .btn-area {position: relative; height: 60px;}
    .modal_container .m_content .m_inner .btn-area .close {top: 6vw;}
    .modal_container .m_content .m_inner .btn {left: 3vw; top: 3vw;}
    
    .process-wrap .process, .process-wrap .process.wine h2.title {margin-left: 3vw; margin-right: 3vw;}
    .process-wrap .process.wine {margin-left: 0; margin-right: 0;}
    .process-wrap .process .contents {margin: 10px 0 40px;}
    
    .menu .contents .menu-wrap {display: block;}
    .menu .contents .menu-wrap .tabs {display: flex; justify-content: center; background: #f5f5f5; position: relative; border-radius: 50px;}
    .menu .contents .menu-wrap .tabs button {color: #666666; border-radius: 50px; width: 50%; height: 42px; z-index: 1; transition-duration:0.4s;}
    .menu .contents .menu-wrap .tabs button.active {color: #fff;}
    .menu .contents .menu-wrap .tabs .selector {width: 50%; height: 42px; position: absolute; background: #4e0d22; top: 0; left: 0; border-radius: 50px; transition-duration:0.4s; transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);}
    .menu .contents .menu-wrap .tabcontent .option {width: inherit; padding: 5vw;}
    /* .menu .contents .menu-wrap .tabcontent .option:first-child {margin-bottom: 20px;} */
    .menu .contents .menu-wrap .tabcontent .option:hover {box-shadow: none;}
    
    .wine .contents .wine-wrap {display: flex; overflow-x: scroll; -webkit-overflow-scrolling: touch; -ms-overflow-style: none; /* IE and Edge */ scrollbar-width: none; /* Firefox */}
    .wine .contents .wine-wrap::-webkit-scrollbar {display: none; /* Chrome, Safari, Opera*/}
    .wine .contents .wine-wrap .option {margin: 0 20px; flex: 0 0 55vw; position: relative; color: #fff; border-radius: 15px; padding: 5vw;}
    .wine .contents .wine-wrap .option:first-child {margin-left: 3vw;}
    .wine .contents .wine-wrap .option:last-child:after {display: block; content: ''; width: 3vw; height: 3vw; position: absolute; top: 0; right: -3vw;}
    .wine .contents .wine-wrap .option .txt .title {line-height: 1.4; margin-bottom: 10px;}
    .wine .contents .wine-wrap .option .txt .title em {display: block;}
    .wine .contents .wine-wrap .option .txt p {margin-bottom: 25px;}
    .wine .contents .wine-wrap .option .txt a {color: #fff; font-size: 13px; letter-spacing: -0.04em;}
    .wine .contents .wine-wrap .option .txt a:after {content: ''; width: 100%; height: 1px; position: absolute; left: 0; bottom: -5px; background: #fff;}
    .wine .contents .wine-wrap .promotion {background: #6E7746;}
    .wine .contents .wine-wrap .pairing {background: #D9A147;}
    .wine .contents .wine-wrap .list {background: #CE7163;}
    
    .popup_wine button.close:before, .popup_wine button.close:after {border-color: #1f1f1f;}
    .popup_content_wrap {width: 100%; height: 100vh; position: absolute; top: 0; overflow: hidden; overflow-y: scroll;}
    .popup_content_wrap button {top: -40px;}
    .popup_content_wrap .popup_content {padding: 40px;}
    .popup_content_wrap .popup_content .list {padding: 5vw;}
    .popup_content_wrap .popup_content .list:first-child {margin-bottom: 20px;}
    
    .deco .contents .intro {margin-bottom: 40px; text-align: left;}
    .deco .contents .intro .txt .title {font-size: 16px;}
    .deco .contents .option {display: block; width: inherit; margin-bottom: 40px;}
    .deco .contents .option .txt p {line-height: inherit;}
    .deco .contents .option .txt .title {margin-bottom: 5px; margin-top: 15px;}
    .deco .contents .option.flower .img, .deco .contents .option.plate .img, .deco .contents .option.baby .img {width: 100%; height: 0; padding-bottom: 70%;}
    .deco .contents .option.flower .txt, .deco .contents .option.plate .txt, .deco .contents .option.baby .txt {width: 100%; margin-left: 0;}
    
    .reserv-button {margin: 0 auto; width: calc(100% - 10vw); position: fixed; bottom: 5vw; left: 5vw; z-index: 5;}
    .reserv-button.mobile {position: inherit; margin-top: 20px;}
    #popup_reserv .popup_wrap {width: 80%;}
    #popup_reserv .popup_wrap .popup_content {padding: 30px 0;}
    #popup_reserv .popup_wrap .btn-area {margin: 20px 0 10px;}
    #popup_reserv .popup_wrap .btn-area a {padding: 8px 20px;}
    #popup_reserv .popup_wrap .btn-area a.tel {margin-right: 2px;}
    #popup_reserv .popup_wrap .btn-area a.kakao {margin-left: 2px;}
    #popup_reserv .popup_wrap button.close2 {padding: 15px;}
    
    #footer {padding-top: 30px; display: inherit; border-top: 1px solid #666666;}
    #footer .customer_center, #footer .copy {text-align: left;}
    #footer .customer_center a.kakao span em a {color: #4e0d22; display: inline;}
    #footer .info {margin: 20px 0 10px; color: #666666;}
    #footer .link {margin-bottom: 10px;}
    #footer .link a.instagram {margin-left: 15px;}
    #footer .copy {color: #999999;}
    
    #faq-wrap #footer .customer_center a.tel span, #faq-wrap #footer .customer_center a.kakao, #faq-wrap #footer .customer_center a.kakao span em a {color: #fff;}
    #faq-wrap #footer .info {color: #999999;}
    
}

@media screen and (max-width: 480px) {
    .close {top: 7vw; right: 5vw;}
    
    .header-wrap .gnb {top: 5vw;}
    .header-wrap .gnb h1 {left: 5vw;}
    .header-wrap .gnb .instagram {right: 5vw;}
    .header-wrap .gnb .instagram .tooltip {display: block; position: absolute; top: 35px; width: 36vw; right: 0;}
    .header-wrap .gnb .instagram .tooltip:before {content: ''; display: block; width: 0; height: 0; border-top: 0; border-left: 8px solid transparent; border-right: 8px solid transparent; border-bottom: 8px solid #4e0d22; position: absolute; right: 10px; top: -8px;}
    .header-wrap .gnb .instagram .tooltip p {background: #4e0d22; color: #fff; padding: 8px 0; border-radius: 6px; text-align: center; font-size: 13px; line-height: 1.4;}
    
    .content .slogan {left: 5vw; bottom: 5vw;}
    .content .scroll {right: 5vw; bottom: 5vw;}
    
    .about {margin: 0;}
    .about .story, .process-wrap .process {margin-left: 5vw; margin-right: 5vw;}
    .about .story h3 {margin-bottom: 20px;}
    .about .chef .category {margin-top: 60px; padding-left: 5vw; }
    .about .chef .chef-warp .chef-list.swiper-slide {width: 70%;}
    .about .chef .chef-warp .chef-list.swiper-slide:first-child {margin-left: 5vw; }
    .about .chef .chef-warp .chef-list.swiper-slide:last-child {margin-right: 5vw; }
    #popupWrap .modal-wrapper .btn .prev, #popupWrap .modal-wrapper .btn .next {width: 45px; height: 45px;}
    .modal_container .m_content .m_inner {padding-bottom: 10vh;}
    .modal_container .m_content .m_inner .btn {left: 5vw;}
    .modal_container .m_content .m_inner .profile {padding: 5vw;}
    .process-wrap .process h2 span {margin-left: 5px; font-size: 11.5vw;}
    .process-wrap .process, .process-wrap .process.wine h2.title {margin-left: 5vw; margin-right: 5vw;}
    .menu .contents .menu-wrap .tabcontent .option {padding: 10vw}
    .menu .contents .menu-wrap .tabcontent .option .menu-list {margin: 30px 0 0;}
    .menu .contents .menu-wrap .note {padding: 20px; margin-top: 0;}
    .wine .contents .wine-wrap .option {padding: 8vw;}
    .wine .contents .wine-wrap .option:first-child {margin-left: 5vw;}
    .wine .contents .wine-wrap .option:last-child:after {width: 5vw; height: 5vw; right: -5vw;}
    #footer, #faq-wrap #footer {padding-left: 5vw; padding-right: 5vw;}
    #faq {margin-top: 7vw;}
    #faq .faq-wrap {padding: 60px 5vw 0; display: block;}
    #faq .faq-wrap .faq-right {margin-left: 0;}
    #faq h3 {text-align: left; padding-left: 5vw;}
}


/*키프레임*/
@keyframes rotateImg{
    0% {
        transform: rotate(0deg);
    }
	100% {
    	transform: rotate(360deg);
    }
}

/* IE10+ */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    /*전체 넓이 설정*/
    .cont-wrap {width: 1140px; margin: 0 auto;}
    
    /*chef swiper*/
    .about .chef .swiper-container {overflow: visible;}
    
    /*cursor*/
    .cursor {display: none;}
}